<nav id="left-sidebar-expand" class="botleft">
  <div class="multiple-screens secondary-bg">
    <div id="all-inboxes-wrapper secondary-bg">
      <div class="collapsible__header p-3 mb-1">
        <h3
          class="fw-bold m-0 d-flex align-items-center justify-content-between w-100"
        >
          Conversations
          <span class="badge text-dark rounded-pill">{{
            activechatBotHistory.length
          }}</span>
        </h3>
      </div>
      <!-- <ul class="nav nav-tabs nav-pills nav-fill" id="myTab" role="tablist">
          <li
          class="nav-item"
          role="presentation"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="All Conversation"
        >
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
          </button>
        </li>
        </ul> -->
      <div class="tab-content" id="myTabContent">
        <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.75)"
          size="default"
          color="#fff"
          type="ball-clip-rotate"
          [fullScreen]="false"
          [name]="'chat-history-menu1'"
          ><p style="color: white">Loading...</p></ngx-spinner
        >
        <div
          class="tab-pane fade active show"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <div class="sidebar-search border-bottom p-2">
            <div class="iconholder w-100">
              <i class="fa-light fa-search iconleft"></i>
              <input
                type="search"
                placeholder="Search Conversation"
                class="form-control"
                [(ngModel)]="searchText"
                (input)="filterResults()"
              />
            </div>
          </div>

          <ul
            class="list-group list-group-flush"
            id="inboxes-list"
            data-scrollbar="true"
            tabindex="-1"
            style="overflow: auto; outline: none"
          >
            <div
              class="scroll-content"
              style="transform: translate3d(0px, 0px, 0px)"
            >
              <ng-container
                *ngFor="let item of activechatBotHistory.slice().reverse()"
              >
                <a
                  (click)="toggleChatVisibility(item)"
                  id="active1"
                  class="all-inboxes-menu list-group-item list-group-item-action align-items-start"
                  [ngClass]="{ active: item.active }"
                >
                  <div class="iconButton medium night berryTransBg fw-bold">
                    <!-- {{ item.session_id | initialLetters}} -->
                    {{ InitialsService.getInitials(item?.username) }}
                  </div>
                  <div class="ms-2 flex-grow-1">
                    <div class="d-flex align-items-center">
                      <h6 class="dark text-truncate m-0">
                        {{
                          item.username != null
                            ? item.username
                            : item.session_id
                        }}
                      </h6>

                      <small class="coal ms-auto top-0">{{
                        item.last_timestamp | customDate
                      }}</small>
                      <!-- <span
                        *ngIf="
                          item.sentiment.Positive >= item.sentiment.Negative &&
                          item.sentiment.Positive >= item.sentiment.Neutral
                        "
                        style="padding-left: 6px"
                        ><img src="../../../assets/Images/positive.svg"
                      /></span>
                      <span
                        *ngIf="
                          item.sentiment.Negative > item.sentiment.Positive &&
                          item.sentiment.Negative >= item.sentiment.Neutral
                        "
                        style="padding-left: 6px"
                        ><img src="../../../assets/Images/negative.svg"
                      /></span>
                      <span
                        *ngIf="
                          item.sentiment.Neutral > item.sentiment.Positive &&
                          item.sentiment.Neutral >= item.sentiment.Negative
                        "
                        style="padding-left: 6px"
                        ><img src="../../../assets/Images/positive.svg"
                      /></span> -->
                    </div>
                    <div class="d-flex flex-column">
                      <span
                        class="coal text-truncate last-chatmsg"
                        style="width: 250px !important"
                      >
                        <p class="m-0">{{ item.last_message }}</p>
                      </span>
                    </div>
                  </div>
                </a>
              </ng-container>
              <ng-container *ngIf="activechatBotHistory.length == 0">
                <div class="text-center fw-bold" style="margin-top: 70%">
                  No chats at this time
                </div>
              </ng-container>
            </div>
            <div
              class="scrollbar-track scrollbar-track-x"
              style="display: none"
            >
              <div
                class="scrollbar-thumb scrollbar-thumb-x"
                style="width: 413px; transform: translate3d(0px, 0px, 0px)"
              ></div>
            </div>
            <div
              class="scrollbar-track scrollbar-track-y"
              style="display: none"
            >
              <div
                class="scrollbar-thumb scrollbar-thumb-y"
                style="height: 20px; transform: translate3d(0px, 0px, 0px)"
              ></div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a (click)="toggleNavTest()" class="panelToggle"></a>
</nav>
