#left-sidebar-expand {
  min-width: 300px;
  max-width: 300px;
  margin-left: 50px;
  border-right: 1px solid $powder;
  background: $white;
  height: auto;
  width: 0;
  // z-index: 1;
  top: 0;
  left: 0;
  position: relative;
  transition: 0.3s;
  min-height: 100vh;
  //  z-index: 11;
  // z-index: 10;
  .collapsible__header {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 16px;
    h3{
      font-weight: 400;
    }
  
  }

  .leftbar-console-expanded {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
  }
  .multiple-screens {
    opacity: 1;
    visibility: visible;
    background: #f1f1f1;
    ul {
      &.list-group {
        .list-group-item {
          &.all-inboxes-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6rem 1rem;
            border: 0;
            border-radius: 8px;
            margin-bottom: 4px;
            z-index: 0;
            &.active{
              background-color: $white;
              color: $night;
              border: 1px solid $brand-primary;
            }
           
          }
        }
      }
    }
  }
  .dropdown-toggle {
    height: 40px;
  }
  .chevron-icon {
    &:after {
      right: 12px;
    }
  }
  &.toggled {
    min-width: 0;
    max-width: 0;
    .multiple-screens {
      width: auto;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .panelToggle {
      transform: rotateZ(0deg);
    }
    .sidebar-header {
      display: block;
    }
    .leftbar-console-expanded {
      visibility: hidden;
      opacity: 0;
      transition-duration: 0.3s;
      transition-delay: 0s;
    }
  }
  .panelToggle {
    position: absolute;
    top: 18px;
    right: -26px;
    width: 25px;
    height: 25px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid $powder;
    // font-size: 12px;
    color: #9398a5;
    transform: rotateZ(180deg);
    transition-property: transform 0.3s;
    // z-index: 20;
    &:hover {
      background: $sky;
      border-color: $sky;
      color: $ice;
      opacity: 1;
    }
    &:before {
      content: "\f054";
      font-family: "Font Awesome 6 Pro";
      font-weight: 400;
      font-size: 10px;
    }
  }
  .console-list {
    .list-group-item {
      border-color: transparent;
      padding: 0.438rem 1rem !important;
    }
  }
  ul {
    &.list-group {
      height: 90vh;
      margin: 0 8px;
      .list-group-item {
        border-left: 0;
        border-right: 0;
        padding: 0.5rem 1rem;
        small {
          position: relative;
          top: -5px;
        }
      }
      li {
        &.active {
          background-color: rgb(240, 237, 237);
          border-color: rgb(84, 84, 251);
          &::after {
            content: normal;
          }
        }
        &:hover {
          background-color: #e9ecef;
        }
        &:hover {
          background-color: #f8f9fa;
        }
        a {
          color: $darkblue;
        }
      }
    }
    &.list-group-followup {
      .list-group-item {
        border-bottom: none;
      }
    }
  }

  .collapse {
    visibility: visible !important;
  }
  
}
