#signupWrapper{
  background-color: #F2F4F8;
  height: 100vh;
  @include flex();
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: relative;
  .circlebg{
    width: 130px;
    height: 130px;
    background: linear-gradient(221.46deg, #F6448A 11.63%, #FA8971 92.27%);
    border-radius: 100px;
    position: absolute;
    &.topleft{
      left: -10px;
      top: -30px;
    }
    &.bottomright{
      right: -40px;
      bottom: -40px;
      width: 186px;
      height: 186px;
      p{
        background: #f2eaef !important;
        width: 140px;
        height: 140px;
        border-radius: 100px;
        display: block;
        left: 25px;
        position: absolute;
        top: 25px;
        margin: 0;
      }
    }
  }
  aside{
    position: relative;
    height: 100%;
    .logo{
      text-align: center;
      img{
        max-width: 280px;
        display: inline-block;
      }
    }
    .illustration{
      text-align: center;
      margin-top: 180px;
      img{
        width: 100%;
        display: inline-block;
      }
    }
    .iconButton{
      position: absolute;
      width: 40px;
      height: 40px;
      display: block;
      background: #fff;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 20px;
      &.iconfacebook{
        background: #3C5A9A;
        top: 223px;
        left: 40px;
        width: 42px;
        height: 42px;
      }
      &.icongoogle{
        background: #EB4335;
        top: 162px;
        left: 80px;
      }
      &.icontiktok{
        background: #000000;
        top: 290px;
        left: 70px;
        width: 34px;
        height: 34px;
        line-height: 30px;
      }
      &.iconinstagram{
        background: linear-gradient(45deg, #FFC107 9.15%, #F44336 50.57%, #9C27B0 90.03%);
        top: 345px;
        right: 73px;
        width: 36px;
        height: 36px;
        line-height: 35px;
      }
      &.iconwhatsapp{
        background: linear-gradient(0deg, #20B038 0%, #60D66A 100%);
        top: 131px;
        right: 61px;
      }
      &.iconlinkedin{
        background: #1976D2;
        top: 270px;
        right: 43px;
        width: 44px;
        height: 44px;
        line-height: 44px;
      }
      &.iconyoutube{
        background: #F44336;
        top: 189px;
        right: 15px;
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 24px;
      }
    }
    .left-body{
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(25px);
      padding: 24px;
      border-radius: 20px;
      margin: 30px;
      height: calc(100% - 60px);
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 340px;
      text-align: center;
      .iconsbox{
        position: relative;
        bottom: 175px;
        .iconButton{
          animation: move-the-circle 3s infinite;
	        transform-origin: center center;
          &:nth-child(1) {
            bottom: 0px;
            animation-delay: 0.1s;
         }
          &:nth-child(2) {
            bottom: 30px;
             animation-delay: 0.2s;
         }
          &:nth-child(3) {
            bottom: 60px;
             animation-delay: 0.3s;
         }
          &:nth-child(4) {
            bottom: 90px;
             animation-delay: 0.4s;
         }
          &:nth-child(5) {
            bottom: 120px;
             animation-delay: 0.5s;
         }
          &:nth-child(6) {
            bottom: 150px;
             animation-delay: 0.6s;
         }
          &:nth-child(7) {
            bottom: 180px;
             animation-delay: 0.7s;
         }
          &:nth-child(8) {
            bottom: 210px;
             animation-delay: 0.8s;
         }
        }
      }
    }
    &:before{
      content:'';
      background: linear-gradient(221.46deg, #F6448A 11.63%, #FA8971 92.27%);
      opacity: 0.1;
      filter: blur(250px);
      width: 840px;
      height: 840px;
      position:absolute;
      left: -16.62%;
      top: -4.69%;
    }
  }
  .main-body {
    flex: 1 0;
    width: 100%;
    @include flex();
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 99;
    .social-list{
      >li{
        >a{
          background: #FFFFFF;
          border: 1px solid #CED4DA;
        }
      }
    }
  }
  .login-form,.signup-form {
    display: inline-flex;
    align-self: center;
    max-width: 460px;
    min-width: 460px;
    @include flex();
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    .signup-btn{
      color: #3cc2cc;
      border-color: #3cc2cc;
      &:hover{
       background-color:#3cc2cc ;
       color: $white;
       border-color: #3cc2cc;
      }
    }
  }
}
#loginWrapper{
  .left-wrap{
    width: 100%;
    height: 100vh;
    // background: url(../images/left-bg.jpg) no-repeat center top;
    background-size: cover;
    display: flex;
    .blur-box{
      width: 56%;
      height: 476px;
      margin: auto;
      padding: 72px 48px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      color: $white;
      h1{
        font-size: 65px;
        margin-bottom: 20px;
        span{
          font-weight: 700;
        }
        i{
          font-size: 40px;
        }
      }
      p{
        font-size: 18px;
      }
    }
  }
  .right-wrap{
    width: 100%;
    height: 100vh;
    .login-form{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }
  .forms-step{
    height: 100vh;
    padding: 67px;
    position: relative;
    .slide-header{
      .progress{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        border-radius: 0;
        height: 5px;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 8px;
          background: #EB0045;
          transition: width .5s ease-out;
        }
      }
    }
    .loginStepFormWrap{
      display: flex;
      .arrow-icon{
        position: absolute;
        top: 171px;
        font-size: 24px;
      }
      .step-form-box{
        margin:67px auto;
        width: 33%;
        height: 615px;
        background: $white;
        padding: 70px;
        border-radius: 10px;
        text-align: center;
        .upload-logo-input{
          width: 116px;
          height: 116px;
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 20px;
          margin: auto;
          border: 1px dashed $silver;
          margin-bottom: 40px;
          background-color: $white;
        }
        &.full-width-screen{
          background-color: transparent;
          width: 100%;
          height: 100%;
          margin: 0;
          text-align: left;
          padding-top: 55px;
          .goals-wrap{
            .goal{
              display: flex;
              align-items: center;
              padding: 25px;
              border-radius: 8px;
              background-color: $white;
              margin-bottom: 25px;
              position: relative;
              @include webkit(transition, all 0.3s ease);
              border: 1px solid transparent;
              cursor: pointer;
              .goal-tag{
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba($orange, 0.12);
                padding: 5px 12px;
                font-size: 14px;
                color: $orange;
              }
              .goal-icon{
                margin-right: 20px;
                i{
                  font-size: 30px;
                }
              }
              &:hover{
                &.lightinkbg{
                  border-color: $lightink;
                }
                &.lightorangebg{
                  border-color: $lightorange2;
                }
                &.lightredbg{
                  border-color: $lightred;
                }
                &.lightpurplebg{
                  border-color: $lightpurple;
                }
                &.skybluebg{
                  border-color: $skyblue;
                }
                &.purplebg{
                  border-color: $purple;
                }
              }
            }
          }
          .buttons-wrap{
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 30px auto;
              .linkbtn{
                @include webkit(transition, all 0.3s ease);
                &:hover{
                  color: #EF6179;
                }
              }
          }
        }
      }
    }
  }
}
.center-section{
  display: flex;
  margin: 16px auto;
  color: $coal;
  .line{
    width: 100%;
    height: 1px;
    background: $powder;
    display: block;
    margin: 10px;
  }
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
}
.loginas{
  .user-number{
    font-size: 0.9rem;
  }
  .user-email{
    font-size: 0.8rem;
  }
  .dropdown-menu{
    width: 100%;
    padding: 0;
    .dropdown-item{
      border: 1px solid $powder;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .btn{
    display: block;
    width: 100%;
    text-align: center;
    background: #fff;
    border: 1px solid $powder;
    padding: 16px;
    margin: 0 0 16px;
    .fa-angle-down{
      transform: rotate(0deg);
      transition: all ease 0.31ms;
    }
    &.show{
      color: #EF6179;
      border-color: #EF6179;
      .fa-angle-down{
        transform: rotate(180deg);
        transition: all ease 0.31ms;
      }
    }
    &:hover{
      background: #fff;
      border: 1px solid #EF6179;
    }
  }
}
.verify-code{
  display: flex;
  justify-content: center;
  margin: 50px auto 98px;
  input{
    width: 58px;
    height: 58px;
    border-radius: 4px;
    margin: 0 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
}
.loginbtn{
  width: 100%;
  padding: 8px;
  @include webkit(transition, all 0.3s ease);
  font-size: 1.15rem;
  
}
.vertical-box-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .vertical-box{
    background: $white;
    width: 248px;
    margin: 25px 15px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    @include webkit(transition, all 0.5s linear 0s);
    cursor: pointer;
    .icon-wrap{
      margin-bottom: 16px;
      i{
        font-size: 32px;
         @include webkit(transition, all 0.3s linear 0s);
      }
      img{
        width: 40px;
         @include webkit(transition, all 0.3s linear 0s);
      }
    }
    .txt-wrap{
      .mainheading, p{
        @include webkit(transition, all 0.3s linear 0s);
      }
      .mainheading{
        font-size: 18px;
      }
    }
    &:hover{
      .txt-wrap{
        p, h6{
          color: $white !important;
        }
      }
      .icon-wrap{
        .white-icon{
          display: block !important;
        }
        .color-icon{
          display: none;
        }
      }
      &.facebookbg{
        background: linear-gradient(180deg, #4997FE 0%, #1E7BF4 100%);
        .icon-wrap{
          i{
            color: $white;
          }
        }
      }
      &.twitterbg{
        background: linear-gradient(180deg, #59BAF7 0%, #24A4F2 100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.youtubebg{
        background: #FF1D1D;
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.instabg{
        background: linear-gradient(180deg, #FFFFFF 0%, #EE6B7C 0.01%, #E2346D 100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.linkedinbg{
        background: linear-gradient(180deg, #1976D2 0%, #0064C8 100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.whatsappbg{
        background: linear-gradient(180deg, #54CF61 0%, #2CB741 100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.googlebg{
        background: linear-gradient(180deg, #FB6161 0%, #E90606 100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.emailbg{
        background: linear-gradient(180deg, #FFFFFF 0%, #9C87EE  0.01%, #ab87ee 100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
      &.smsbg{
        background: linear-gradient(180deg, #FFFFFF 0%, #CF61EA  0.01%,#CF61EA  100%);
        .icon-wrap{
          .white-icon{
            display: block !important;
          }
          .color-icon{
            display: none;
          }
        }
      }
    }
    &.dashed-border{
      border: 1px dashed $coal;
    }
  }
}
.connect-page-modal{
  .modal-content{
    width: 707px;
    height: 523px;
    border: 0;
    .modal-header{
      border-top: 0 !important;
      .channel-popup-head{
        display: flex;
        align-items: center;
        padding: 10px 0;
        .facebook{
          background: #1976D2;
          i{
            color: $white;
          }
        }
        .txt-wrap{
          margin-left: 20px;
        }
      }
    }
    .modal-body{
      border-radius: 10px;
      align-items: center;
      .addPagesWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 60%;
        margin: auto;
        .file-input{
          position: relative;
          background: $white;
          border: 1px dashed;
          display: flex;
          width: 116px;
          height: 116px;
          flex-direction: column;
          padding: 10px;
          text-align: center;
          margin-bottom: 16px;
          i{
            margin-bottom: 8px;
            font-size: 21px;
          }
        }
      }
    }
  }
}
.connectPages{
  .vertical-box{
    position: relative;
    .cross-icon{
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 19px;
      border: 1px dashed;
      padding: 6px 10px;
      background: #ececec;
      border-radius: 4px;
    }
    .tick-icon{
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 23px;
      border-radius: 50%;
      padding: 5px;
      color: $white;
      background-color: #61EF78;
    }
    .icon-wrap{
     img{
        width: 52px;
        height: 52px;
      }
    }
    &:hover{
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0 , 0.2%) !important;
      .icon-wrap{
        img{
          display: block !important;
        }
      }
      .txt-wrap{
        h6{
          color: $charcoal !important;
        }
        p{
          color: $coal !important;
        }
      }
    }
  }
}
.modal-xl {
  --bs-modal-width: 1280px;
}
@keyframes move-the-circle
{
	0%
	{
		transform: translate(0,0) scale(1.0);
		opacity: 1;
	}
	50%
	{
		transform: translate(0,50px) scale(1);
		opacity: 0.5;
	}
	100%
	{
		transform: translate(0,0) scale(1.0);
		opacity: 1;
	}
}
// $steps: 8;
// @mixin progress_bar($steps) {
//   $width: (100/$steps)*1%;
//   @for $i from 1 through $steps {
//     [data-progress='#{$i}']:after {
//       width: $width*$i !important;
//     }
//     $steps: $steps - 1;
//   }
// }
// @include progress_bar($steps);