// $brandColor: #e8e8e8;
$brandColor: #5454fb;
$countColor: #a5a5a5;
$secondaryBg: #f1f1f1;
$textBlack: #000;
$textDark-2 : #121A21;
$textWhite: #fff;
$paraColor: #7c7c7c;
$errorColor : #DC3545;
$badgeBg : #6C757D;
$textLight : #9B9B9B;
$textLight-2 : #636363;
$bg-light-3 : #E9E9E9;